---
# SPDX-FileCopyrightText: 2022 The dune-iga developers mueller@ibb.uni-stuttgart.de
# SPDX-License-Identifier: CC0-1.0
BasedOnStyle: Google
PointerAlignment: Left
DerivePointerAlignment: false
AccessModifierOffset: -2
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: Yes
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
ColumnLimit: 120
QualifierAlignment: Left
ConstructorInitializerAllOnOneLineOrOnePerLine: true
SortIncludes: CaseInsensitive
BreakBeforeConceptDeclarations: true
SpacesBeforeTrailingComments : 1
AllowAllArgumentsOnNextLine: true
AlignAfterOpenBracket: Align
BinPackArguments: true
BinPackParameters: true
SpacesInAngles: Never
AlignArrayOfStructures: Right
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never
RequiresClausePosition: OwnLine
SpacesInLineCommentPrefix:
  Minimum: 1
  Maximum: 1
IndentRequiresClause: false
IndentPPDirectives: BeforeHash
AlignConsecutiveAssignments: true
IndentWidth: 2
BreakAfterAttributes: Leave
BreakBeforeBraces: Custom
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  SplitEmptyFunction: false
  AfterFunction: false
NamespaceIndentation: Inner
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: false
  AfterFunctionDeclarationName: false
  AfterOverloadedOperator: false
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: 'config.h'
    Priority: -1
    SortPriority: -1
  - Regex: '^(<|")dune/'
    Priority: 3
    SortPriority: 3
  - Regex:           '<([A-Za-z0-9.\/-_])+>'
    Priority:        2
    SortPriority: 2
  - Regex:           '"([A-Za-z0-9.\/-_])+"'
    Priority:        1
    SortPriority: 1
...
