---
# SPDX-FileCopyrightText: 2022 The dune-iga developers mueller@ibb.uni-stuttgart.de
# SPDX-License-Identifier: CC0-1.0
BasedOnStyle: Google
AccessModifierOffset: '-1'
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: 'Yes'
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: true
SortIncludes: true
IndentPPDirectives: AfterHash
AlignConsecutiveAssignments: Consecutive
IndentWidth: '2'
NamespaceIndentation: All
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: 'true'
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: 'config.h'
    Priority: -1
    SortPriority: -1
  - Regex: '^(<|")dune/common/'
    Priority: 3
    SortPriority: 3
  - Regex: '^(<|")dune/geometry/'
    Priority: 4
    SortPriority: 4
  - Regex: '^(<|")dune/grid/'
    Priority: 5
    SortPriority: 5
  - Regex: '^(<|")dune/functions/'
    Priority: 6
    SortPriority: 6
  - Regex: '^(<|")dune/iga/'
    Priority: 10
    SortPriority: 10
  - Regex: '^(<|")dune/'
    Priority: 11
    SortPriority: 11
  - Regex:           '<([A-Za-z0-9.\/-_])+>'
    Priority:        1
    SortPriority: 1
  - Regex:           '"([A-Za-z0-9.\/-_])+"'
    Priority:        2
    SortPriority: 2
...
