# SPDX-FileCopyrightText: 2022 The Ikarus Developers mueller@ibb.uni-stuttgart.de
# SPDX-License-Identifier: CC0-1.0

name: Create release

on:
  workflow_dispatch:
    inputs:
      releaseTag:
        description: 'Release version'
        required: true

env:
  NEWVERSION: ${{ github.event.inputs.releaseTag }}

jobs:
  Run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          path: 'repo'
          token: ${{ secrets.PUSH_TO_PROTECTED_TOKEN }}
      - name: Create tag and push tag
        run: |
          cd repo
          python .github/workflows/scripts/release.py $NEWVERSION
          git config --local user.email "mueller@ibb.uni-stuttgart.de"
          git config --local user.name "AlexanderMueller"
          git remote set-url origin https://${{ secrets.PUSH_TO_PROTECTED_TOKEN }}@github.com/rath3t/dune-iga.git
          git add .
          git commit -m "Create release v$NEWVERSION"
          git push origin
          git tag -a v$NEWVERSION -m "Create release v$NEWVERSION"
          git push origin v$NEWVERSION

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: v${{ github.event.inputs.releaseTag }}
          draft: true
          prerelease: true
          title: ${{ github.event.inputs.releaseTag }}
