# SPDX-FileCopyrightText: 2022 The dune-iga developers mueller@ibb.uni-stuttgart.de
# SPDX-License-Identifier: CC0-1.0

name: CodeCoverage
on:
  push:
    paths-ignore:
      - '**.md'

  pull_request:
    types: [opened]
    branches:
      - main
    paths-ignore:
      - '**.md'

env:
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

jobs:
  Clang-Debug-CodeCov:
    runs-on: ubuntu-latest
    container:
      image: henrij22/ikarus-dev-gcc:latest
      options: --memory-swap="20g" --memory="20g" --cpus="2"

    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          mkdir cmake-build-debug
          cd cmake-build-debug
          cmake ../  -DCMAKE_BUILD_TYPE=Debug -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_COMPILER=clang++ -GNinja -DENABLE_TEST_COVERAGE=1
          cmake --build . --parallel 2 --target _iga
          cmake --build . --parallel 2 --target build_cpp_tests

      - name: Tests
        working-directory: ./cmake-build-debug
        run: |
          ctest --output-on-failure --parallel 2 -C Debug -L cpp
          cd ..
          llvm-cov-16 gcov $(find ./cmake-build-debug -not -path "*dune-env/*" -type f -name "*.gcno" | sed  's/gcno//g') 

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: tests
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)
          gcov_ignore: ./cmake-build-debug/dune/iga/test/
