# SPDX-FileCopyrightText: 2022 The dune-iga developers mueller@ibb.uni-stuttgart.de
# SPDX-License-Identifier: CC0-1.0

name: Debian
on:
  push:
    paths-ignore:
      - '**.md'

  pull_request:
    types: [opened]
    branches:
      - main
    paths-ignore:
      - '**.md'

jobs:
  Build:
    name: ${{ matrix.config.name }}
    runs-on: ubuntu-latest
    container:
      image: henrij22/ikarus-dev-gcc:latest
      options: --memory-swap="20g" --memory="20g" --cpus="2"
    strategy:
      fail-fast: false
      matrix:
        config:
          - {
           name: "Clang-Debug",
           config: Debug,
           compilerC: clang-16,
           compilerCxx: clang++-16,
           lib: "-stdlib=libc++",
           testRegex: "cpp"
          }
          - {
           name: "Clang-Release",
           config: Release,
           compilerC: clang-16,
           compilerCxx: clang++-16,
           lib: "-stdlib=libc++",
           testRegex: "cpp"
          }
          - {
            name: "GCC-Debug",
            config: Debug,
            compilerC: gcc-12,
            compilerCxx: g++-12,
            lib: "",
            testRegex: "cpp"
          }
          - {
            name: "GCC-Release",
            config: Release,
            compilerC: gcc-12,
            compilerCxx: g++-12,
            lib: "",
            testRegex: "cpp"
          }
          - {
            name: "GCC-Release-Python",
            config: Release,
            compilerC: gcc-12,
            compilerCxx: g++-12,
            lib: "",
            testRegex: "python"
          }
    steps:
      - uses: actions/checkout@v4
        with:
         path: 'repo'
      - name: Build
        working-directory: ./repo
        run: |
          mkdir cmake-build-${{ matrix.config.config }}
          cd cmake-build-${{ matrix.config.config }}
          cmake ../  -DCMAKE_BUILD_TYPE=${{ matrix.config.config }} -G "Unix Makefiles" -DCMAKE_C_COMPILER=${{ matrix.config.compilerC }} -DCMAKE_CXX_COMPILER=${{ matrix.config.compilerCxx }} 
          cmake --build . --parallel 2 --target _iga
          cmake --build . --parallel 2 --target build_${{ matrix.config.testRegex }}_tests
      - name: Tests
        working-directory: ./repo/cmake-build-${{ matrix.config.config }}
        run: ctest --output-on-failure --parallel 2 -C ${{ matrix.config.config }} -L ${{ matrix.config.testRegex }}
